<header class="header">
    <nav class="nav nav--tours">
      <a href="#" class="nav__el">MEDICARE</a>
      <form class="nav__search">
        <button class="nav__search-btn">
          <svg>
            <use xlink:href="../../assets/icons.svg#icon-search"></use>
          </svg>
        </button>
        <input
          type="text"
          placeholder="Search tours"
          class="nav__search-input"
        />
      </form>
    </nav>
    <div class="header__logo">
      <img src="../../assets/logo-white.jpg" />
    </div>
    <nav class="nav nav--user">
      <a href="#" class="nav__el">LABTESTS</a>
      <a href="#" class="nav__el">
        <img src="../../assets/user-5/user-1.jpg" alt="User photo" class="nav__user-img" />
        <span>Jonas</span>
      </a>

      <!-- <button class="nav__el">Log in</button>
              <button class="nav__el nav__el--cta">Sign up</button> -->
    </nav>
  </header>

  <section class="overview">
    <div class="card-container">
      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-1-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>DOLO 659</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <p class="card__text">
            <!-- Breathtaking hike through the Canadian Banff National Park -->
          </p>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>Banff, Canada</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>April 2021</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>3 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>25 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 29</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.9</span>
            <span class="card__footer-text">rating (21)</span>
          </p>
          <a href="#" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-2-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>cetrizinc</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <p class="card__text">
            <!-- Exploring the jaw-dropping US east coast by foot and by boat -->
          </p>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>Oregon, US</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>June 2021</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>4 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>15 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 49</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.8</span>
            <span class="card__footer-text">rating (12)</span>
          </p>
          <a href="#" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-3-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>vitamin-c</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <p class="card__text">
            <!-- Exciting adventure in the snow with snowboarding and skiing -->
          </p>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>Aspen, USA</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>January 2022</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>2 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>10 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 69</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.9</span>
            <span class="card__footer-text">rating (7)</span>
          </p>
          <a href="#" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-4-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>azithromicin</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <p class="card__text">
            <!-- Living the life of Wanderlust in the US' most beatiful cities -->
          </p>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>NYC, USA</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>March 2021</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>3 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>20 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 97</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.8</span>
            <span class="card__footer-text">rating (31)</span>
          </p>
          <a href="#" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-5-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>amoxin</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <p class="card__text">
            <!-- Breathing in Nature in America's most spectacular National Parks -->
          </p>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>Las Vegas, USA</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>August 2021</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>4 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>15 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 49</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.9</span>
            <span class="card__footer-text">rating (19)</span>
          </p>
          <a href="/tour.html" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>

      <div class="card">
        <div class="card__header">
          <div class="card__picture">
            <div class="card__picture-overlay">&nbsp;</div>
            <img
              src="img/tour-6-cover.jpg"
              alt="Tour 1"
              class="card__picture-img"
            />
          </div>

          <h3 class="heading-tertirary">
            <span>Doxycycline</span>
          </h3>
        </div>

        <div class="card_>Add to Cart">
          <h4 class="card__sub-heading">oral capsule (325 mg; 500 mg), oral granule, effervescent (650 mg), oral liquid (160 mg/5 mL; 325 mg/10.15 mL; 500 mg/15 mL; 650 mg/20.3 mL), oral powder (500 mg), oral suspension (160 mg/5 mL; 650 mg/20.3 mL), oral tablet (325 mg; 500 mg), oral tablet, chewable (160 mg; 80 mg), oral tablet, disintegrating (160 mg; 325 mg; 80 mg), oral tablet, extended release (650 mg)</h4>
          <!-- <p class="card__text"> -->
            <!-- Surfing, skating, parajumping, rock climbing and more, all in one -->
            <!-- tour -->
          <!-- </p> -->
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-map-pin"></use>
            </svg>
            <!-- <span>California, USA</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-calendar"></use>
            </svg>
            <!-- <span>July 2021</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-flag"></use>
            </svg>
            <!-- <span>5 stops</span> -->
          </div>
          <div class="card__data">
            <svg class="card__icon">
              <use xlink:href="../../assets/icons.svg#icon-user"></use>
            </svg>
            <!-- <span>8 people</span> -->
          </div>
        </div>

        <div class="card__footer">
          <p>
            <span class="card__footer-value">Rs 97</span>
            <span class="card__footer-text">per Tablets</span>
          </p>
          <p class="card__ratings">
            <span class="card__footer-value">4.7</span>
            <span class="card__footer-text">rating (23)</span>
          </p>
          <a href="#" class="btn btn--green btn--small">Add to Cart</a>
        </div>
      </div>
    </div>
  </section>

  <div class="footer">
    <div class="footer__logo">
      <img src="../../assets/logo-green.png" alt="Natours logo" />
    </div>
    <ul class="footer__nav">
      <li><a href="#">About us</a></li>
      <li><a href="#">Download apps</a></li>
      <li><a href="#">Become a guide</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <p class="footer__copyright">
      &copy; by medical care. All rights reserved.
    </p>
  </div>